    .menu{
        background-color: rgb(151, 5, 5);
        padding: 10px;
        margin: 0%;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        
    }

    li {
        display: inline;
        font-size: 20px;
        padding-left: 20px;
        color: rgb(255, 255, 255);
    }

    li:hover {
        color: rgb(253, 116, 98);
    }

    a{
        text-decoration: none;

    }

    .imagens{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        color:rgb(0, 0, 0);
        font-size: 20px;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-inline-end: 5%;
        margin-inline-start: 5%;

    }

    .margemForm{
        margin-right: 300px;
    }

    form{
        
    }

    h2{
        color:rgb(151, 5, 5);
        font-size: 45px;
        text-align: center;
        margin-top: 5%;
    }

    img {
        display: flex;
        max-width: 100%;
        max-height: auto;
       }
       .imagemsp {
        display: flex;
        width: 100%;
        height: auto;
       }

    iframe{
        display: flex;
        max-width: 100%;
        max-height: auto;
    }

    .rodape{
        background-color: rgb(151, 5, 5);
        padding: 20px;
        font-size: 18px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    
    /* configurações css da página contato*/

    .menu{
        background-color: rgb(151, 5, 5);
        padding: 10px;
        margin: 0%;
        
    }

    h1{
        color:rgb(151, 5, 5);
        font-size: 40px;
        text-align: center;
        margin-top: 5%;
    }

    .container{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    .icons{
        margin-right: 80px;
    }

    .imgRedes{
        display: flex;
        margin-bottom: 150px;
        padding-left: 65px;
    }
    

    .redes{
        margin-bottom: 82px;
    }


